[[Bombyx mori]]
[[BmNPV]]
[[Antiviral Infection]]
