[[Terminology]]
[[Model validation]]
[[Scientific Practice]]
[[Bioprocess Modeling And Simulation]]
